<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.xqj.dao.EmployeeDao">
    <insert id="addEmployee" parameterType="com.iotek.xqj.entity.Employee">
        insert into employee(id,name,sex,dept,positon,phone,education,salary,time) values(#{name},#{sex},#{dept},#{positon},#{phone},#{education},#{salary},#{time})
    </insert>
    <select id="findEmployeeById" parameterType="int" resultType="com.iotek.xqj.entity.Employee">
        select * from employee where id=#{id}
    </select>
    <update id="editEmployee" parameterType="com.iotek.xqj.entity.Employee">
        update employee set age=#{age},phone=#{phone} where id=#{id}
    </update>
    <select id="findEmployeeByPositon" resultType="com.iotek.xqj.entity.Employee">
        select * from employee where positon=#{positon}
    </select>
    <select id="findEmployeeByDept" resultType="com.iotek.xqj.entity.Employee">
        select * from employee where dept=#{dept}
    </select>
</mapper>
