<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.xqj.dao.PositonDao">
    <select id="queryAllPositon" resultType="com.iotek.xqj.entity.Positon" parameterType="int">
        select p.name from positon p where p.dept_id =#{deptId}
    </select>
    <select id="AllPositon" resultType="com.iotek.xqj.entity.Positon">
        select * from positon
    </select>
</mapper>